#heading {
  text-align: center;
  margin: 2em;
  color: rgb(0, 255, 200);
  font-size: 1.2em;
}

.header_network p {
}

.network {
  display: none;
  position: absolute;
  background-color: #171717;
  width: 100%;
  right: 0;
  text-align: center;
}
